:root {
  --Dark_Blue_Dark_Mode_Elements: hsl(209, 23%, 22%);
  --Very_Dark_Blue_Dark_Mode_Background: hsl(207, 26%, 17%);
  --Very_Dark_Blue_Light_Mode_Text: hsl(200, 15%, 8%);
  --Dark_Gray_Light_Mode_Input: hsl(0, 0%, 52%);
  --Very_Light_Gray_Light_Mode_Background: hsl(0, 0%, 98%);
  --White_Dark_Mode_Text_and_Light_Mode_Elements: hsl(0, 0%, 100%);
}
