@import url("/src/styles/colors.css");
.tag_container {
  margin: 30px 20px;
  box-shadow: 0 2px 8px var(--Dark_Gray_Light_Mode_Input);
  width: 100%;
  max-width: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: .3s ease-in-out all;
  height: 346.66px;
  text-decoration: none;
  color: var(--Very_Dark_Blue_Light_Mode_Text);
  transform: translateX(-1420px);
}
.tag_container.in{
  transform: translateX(0);
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tag_container:hover {
    transform: scale(1.08);
    box-shadow: 0 0px 15px red;
    transition: .3s ease-in-out all;
}
.img_container {
  width: 100%;
  height: 160px;
}
.img_container img {
  width: 100%;
  height: 100%;
}
.information {
  margin-top: 15px;
  padding: 0px 40px;
  display: grid;
  gap: 10px;
}
.information h1{
  font-size: 18px;
  font-weight: 900;
}
.information p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.information div {
  display: flex;
  gap: 10px;
}
.information span {
  font-weight: 300;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
    .tag_container{
      max-width: 316px;
    }
}
